*{
    margin: 0;
    padding: 0;
}
body{
        display: flex;
    justify-content: center;
    align-items:center ;
    height: 100vh;
    background-color: black;
}
.container{
display: flex;
}
.div1,.div2{
    height: 250px;
    width: 150px;
}
.div1{
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
    transform-origin: 100%  0 0;
    transform: rotateY(180deg);
}
.div2{
    background-image: url(img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container:hover .div1{
    transform: rotateY(0deg);
}
